<md-tab-group>
  <md-tab label="All Photos">
    <md-grid-list [cols]="numberColumns" rowHeight="300px">
      <md-grid-tile *ngFor="let photo of photos | async">
        <a fxFlex [routerLink]="['/photo-detail', photo.$key]" routerLinkActive="active" style="text-decoration: none;">
          <photo-card fxFlex [photo]="photo" [firebasePath]="photo.uid" [myCard]=false></photo-card>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab label="My Photos">
    <md-grid-list [cols]="numberColumns" rowHeight="300px">
      <md-grid-tile *ngFor="let myphoto of myPhotos | async">
        <a fxFlex routerLink="/photo-detail" routerLinkActive="active" style="text-decoration: none;">
          <photo-card fxFlex [photo]="myphoto" [firebasePath]="myphoto.uid" [myCard]=true></photo-card>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>
</md-tab-group>

<button type="button" md-fab (click)="showAddPhotoDialog()">
  <md-icon>add</md-icon>
</button>