<h1 md-dialog-title>{{photoKey ? 'Edit this photo' : 'Add a new photo'}}</h1>
<form (ngSubmit)="onSubmit()" #photoForm="ngForm">
  <md-dialog-content fxFlex fxLayout="column" fxLayoutAlign="none center">

    <md-input-container>
      <input mdInput placeholder="Url" type="text" name="Url" [(ngModel)]="formPhoto.url">
    </md-input-container>
    <div fxLayout="row">
      <span fxFlex id="select">or</span>
      <button id="upload" md-button type="button" (click)="triggerInput(photoInput)">Upload an Image</button><br>
      <input #photoInput style="display: none;" type="file" (change)="photoSelected($event)"><br>
    </div>

    <md-input-container>
      <input required mdInput placeholder="Caption" type="text" name="Caption" [(ngModel)]="formPhoto.caption">
    </md-input-container>

  </md-dialog-content>

  <md-dialog-actions fxLayoutAlign="end center">
    <button type="button" md-button md-dialog-close>Cancel</button>
    <button type="submit" md-button [disabled]="!photoForm.form.valid">Save</button>
  </md-dialog-actions>
</form>
